TeamCityDistr
/target/
/termsOfService-build/target/
/termsOfService-server/target/
.idea/
.DS_Store
termsOfService-build/termsOfService-build.iml
termsOfService-server/termsOfService-server.iml
termsOfService.iml
