.agreement {
    height: auto;
}

.description {
    margin-bottom: 2em;
}

.agreementForm .continueBlock {
    margin-bottom: 0;
}

.agreementForm .submitButton {
    margin-right: 0;
}

.roleName, .projectName {
    font-style: italic;
}

.licenseAgreementLink {
    display: block;
}

#pageContent .agreement p+h1 {
    padding-top: 0.6em;
    font-size: 200%;
}

#pageContent .agreement p+h1:first-of-type {
    padding-top: 0;
}