.agreement {
    height: auto;
}

.agreementDescription {
    margin-bottom: 2em;
    padding-bottom: 2em;
    font-size: 120%;
    border-bottom: 1px solid #ddd;
}

.agreementForm .consentBlock {
    margin-top: 1em;
    margin-bottom: 0;
}

.agreementForm .continueBlock {
    margin-bottom: 0;
    margin-top: 1em;
}

.agreementForm .submitButton {
    margin-right: 0;
}

.licenseAgreementLink {
    margin-left: 1em;
    white-space: nowrap;
}

#pageContent .agreement p + h1 {
    padding-top: 0.6em;
    font-size: 200%;
}

#pageContent .agreement p + h1:first-of-type {
    padding-top: 0;
}

#guestNotice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
    opacity: 0.9;
    background-color: #ffa;
    border: 1px solid #8a8d7f;
    padding: 1em;
}