.agreement {
    height: auto;
}

.agreementDescription {
    margin-bottom: 2em;
    padding-bottom: 2em;
    font-size: 120%;
    border-bottom: 1px solid #ddd;
}

.agreementForm .consentBlock {
    margin-top: 1em;
    margin-bottom: 0;
}

.agreementForm .continueBlock {
    margin-bottom: 0;
    margin-top: 1em;
}

.agreementForm .submitButton {
    margin-right: 0;
    margin-top: 1em;
}

.licenseAgreementLink {
    margin-left: 1em;
    white-space: nowrap;
}

#pageContent .agreement p + h1 {
    padding-top: 0.6em;
    font-size: 200%;
}

#pageContent .agreement p + h1:first-of-type {
    padding-top: 0;
}

#guestNotice {
    position: fixed;
    bottom: 1em;
    left: 1em;
    width: 22em;
    text-align: left;
    z-index: 4;
    opacity: 0.9;
    background-color: #001c33;
    border-radius: 3px;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 4em;
    color: white;
}

#guestNotice .note {
    padding-top: 0.5em;
}

#guestNotice .caption{
    font-weight: bolder;
    padding-top: 1em;
}

#guestNotice .actions{
    padding-top: 1em;
}

#guestNotice .content::before{
    position: absolute;
    left: 22px;
    top: 12px;
    content: "!";
    border-radius: 50%;
    border: 1px solid white;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-weight: bolder;
}